<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>ADSelf</title>

    <!-- Bootstrap core CSS -->
    <link href="/asset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/asset/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/asset/css/signin.css" rel="stylesheet">
    <link href="/asset/css/home.css" rel="stylesheet">
    <!-- angJS -->
    <script src="/asset/js/jquery-1.11.0.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/angular.js"></script>
    <script src="/asset/js/angular-res.js"></script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   
    <![endif]-->
</head>