<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AdSelf</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <%if (currentPage == "manage_banners") { %>
                    <li class="active"><a href="/home">Manage banners</a></li>
                <% }%>
                <%if (currentPage != "manage_banners") { %>
                    <li><a href="/home">Manage Banners</a></li>
                <% }%>

                <%if (currentPage == "account") { %>
                    <li class="active"><a href="/account">Account</a></li>
                <% }%>
                <%if (currentPage != "account") { %>
                    <li><a href="/account">Account</a></li>
                <% }%>
                <li> <a> Publisher Key : <%= account.publisherKey %> </a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>