<!DOCTYPE html>
<html lang="en">
<body>
    <% include _head %>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h2 class="banner"><span class="fa fa-sign-in"></span>Create new Account</h2>
			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
			<!-- LOGIN FORM -->
			<form action="/signup" method="post" id="signup_form">
				<div class="card signin-card">
					<div class="form-group">
						<label>E-mail</label>
						<input type="email" class="form-control" required=""  name="email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" required=""  name="password">
					</div>
					<div class="form-group">
						<label>Confirm Password</label>
						<input type="password" class="form-control" name="confirm_password">
					</div>
					<button id="signup_btn" type="submit" class="btn btn-success btn-lg btn-fox" style="width: 100%;">Sign up</button>
				</div>
			</form>
			<hr>
			<p>Already have a Account? <a href="/login">Sign in</a></p>
			<p><a href="/">Home</a>.</p>
		</div>
	</div>
    <% include _footer %>
</body>
</html>
