.left_block{
	width: 15%;
	float: left;
}
.right_block{
	width : 85%;
	float: left;
	padding-left: 10px;
}
.mark_box{
	height: 20%;
	width: 100%;
	padding: 10px;
}
.banner{
    font-family: 'Open Sans', arial;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.left-banner{
    font-family: 'Open Sans', arial;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.field {
    margin-bottom: 1em;
}

.click-to-edit {
    display: inline-block;
}
